# Python compilation archives
__pycache__/
*.py[cod]
*$py.class

# Virtual environments (Carpetas de entorno virtual)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE settings
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db

# Logs
*.log

# API Keys and sensitive files (Bloquea textos secretos)
api_key.txt
email_key.txt
secret.txt

# EXCEPCIÓN CRÍTICA (Permite subir las dependencias)
!requirements.txt
